*{
    margin: 0px;
    padding: 0px;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
  }
  
  body {
    background-color: #fff;
    background-size: cover;
    height: 100vh;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
  }
  
  ul {
    list-style-type: none;
  }
  h1 {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    padding:2rem 0rem;
    height: 14vh;
  }
  
  ul {
    display: flex;
    justify-content: space-evenly;
  }
  
  .logo {
    margin: 0rem 1.5rem;
  }
  
  ul li {
    margin-right: 1rem;
  }
  
  ul li a {
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 8px 1.5px;
  }
  
  ul li a.active,
  ul li a:hover {
    background-color: grey;
    transition: 0.5s;
    border-radius: 5px;
  }
  
  .hamburger {
    position: absolute;
    right: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    display: none;
  }
  
  .hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.3s all;
  }
  .menu {
    position: absolute;
  }
  @media (max-width: 750px) {
    body {
      overflow-x: hidden;
      background-position: cover;
    }
    .hamburger {
      display: flex;
      cursor: pointer;
    }
    ul {
      flex-direction: column;
      position: absolute;
      top: 14vh;
      right: -100%;
      background-color: rgba(0,0,0,.5);
      height: 86vh;
      width: 100%;
      align-items: center;
      transition: right 0.3s ease-in;
    }
  
    ul li {
      margin-right: 0px;
    }
  
    .menu-slide {
      right:0;
      transition: right 0.3s ease-in;
    }
    .cross .bar:nth-child(2) {
      opacity: 0;
    }
    .cross .bar:first-child {
      transform: rotate(-45deg) translate(-5px, 7px);
    }
    .cross .bar:last-child {
      transform: rotate(45deg) translate(-5px, -7px);
    }
  }
div .form-label {
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    color: blanchedalmond;
}
div .mb-3 {
    text-align: center;
    font-family: 'Trebuchet MS';
}
.form-check-label {
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    color: blanchedalmond;
}
.btn {
    font-family: 'Trebuchet MS';
    font-weight: bold;
}